{% extends 'base.html.twig' %}

{% block title %}Edit Activite{% endblock %}

{% block body %}
    <h1>Modifier les Activités</h1>

    {{ include('activite/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}





